.content-title {
  height: 3rem;
  left: 0px;
  margin-left: 3rem;
  margin-bottom: 0px;
  margin-top: 0px;
  color: #e12885;
  font-size: 2rem;
}

.memberbox {
  display: grid;
  grid-template-columns: repeat(8, 120px);
  grid-auto-rows: 30px;
}

.memberitem {
  display: flex;
  left: 0px;
}

.all-button {
  margin-left: 1rem;
}